@model IEnumerable<Taekwondo.Models.Enrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enrolment Details</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", htmlAttributes: new { @class = "btn" })
</p>
@using (Html.BeginForm())
{
    <p>
        Find By ClassID: @Html.TextBox("SearchID", ViewBag.CurrentFilter as string)
        <input class="btn" type="submit" value="Search" />
    </p>
}
<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayName("Student ID")
        </th>
        <th>
            @Html.DisplayName("Student Name")
        </th>
        <th>
            @Html.DisplayName("Class")
        </th>
        <th>
            @Html.DisplayName("Date Enrolled")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modalItem => item.Student.FirstName)  @Html.DisplayFor(modalItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassID)- @Html.DisplayFor(modelItem => item.Class.Day)
            </td>
            <td>
                @item.DateEnrolled.Value.ToString("MM/dd/yy")
            </td>
        </tr>
    }

</table>
